<template>
<div>
<h1>About Page</h1>
<button @click="goCourses" class="btn btn-primary">Go To Courses</button>
</div>
</template>
<script type="text/javascript">
	export default{
		methods:{
			goCourses(){
				const self = this;
				setTimeout(function(){
					// self.$router.push('courses');
					// self.$router.push({path:'courses'});
                    self.$router.push({name:'view-course', params:{id:1}, query:{name:"eman"}});
					// self.$router.push({path:'courses', query:{id:1}});
				}, 1000);
			}
		},
		beforeRouteEnter(to, from, next){
            console.log('inside about page');
            next();
		},
		beforeRouteLeave(to, from, next){
			console.log('leave about page');
            next();
		}
	}
</script>