<template>
<div>
<strong>Counter: </strong> {{counter}}
</div>
</template>
<script>
import {mapGetters} from 'vuex';

export default{
    name:'counterInfo',
    computed:{
        ... mapGetters(["counter"]),
    }
}
</script>