<template>
<div>
  <strong>Counter: </strong> {{counter}} <br>
  <strong>Double Counter: </strong> {{doubleCounter}} <br>

  <button @click="increase">Increase Counter</button>
  <button @click="decrease">Decrease Counter</button>
  <button @click="num_decrease">Decrease Counter</button>

  <button @click="increaseAfterSecond">Increase After Second</button>
  <button @click="decreaseAfterSecond">Decrease After Second</button>
</div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';
export default{
   
name: 'counter',
methods:{
    ... mapMutations(["increase", "decrease"]),
    num_decrease(){
        this.$store.commit('num_decrease', 5);
    },
    increaseAfterSecond(){
        this.$store.dispatch('increaseAfterSecond');
    },
    decreaseAfterSecond(){
        this.$store.dispatch('decreaseAfterSecond');
    }

},
computed:{
     ... mapGetters(["counter", "doubleCounter"]),
         multiCounter(){
            return this.$store.getters.multiCounter(4);
        },
    }
}
</script>