<template>
	<div>
		<h1>Course {{id}} - {{$route.params.id}} - {{$route.query.name}}</h1>
	</div>
</template>
<script type="text/javascript">
	export default{
		data(){
            return{
              // num: this.$route.params.id
            }
        },
		props:['id'],
	}
</script>