<template>
	<div>
		<h1 class="mt-5 mb-5" >Courses Page</h1>
        <!-- <card-component></card-component> -->
        <div class="container">
        <div class="row">
         <div class="col-lg-4" v-for="course in courses" :key="course.id">
          <div class="card">
            <img class="card-img-top" :src="course.thumbnails" :alt="course.name">
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <p class="card-text">{{course.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fab fa-youtube youtube-color"></i>
                إحصائيات اليوتيوب
              </li>
              <li class="list-group-item">
                <ul class="course-statistics">
                  <li><i class="fas fa-bars"></i> {{course.statistics.lessons}} درس</li>
                  <li><i class="far fa-clock"></i> {{course.statistics.duration}}</li>
                  <li><i class="far fa-play-circle"></i> {{course.statistics.viewCount}} مشاهدة</li>
                  <li><i class="far fa-thumbs-up"></i> {{course.statistics.likeCount}} إعجاب</li>
                  <li><i class="far fa-comments"></i> {{course.statistics.commentCount}} تعليق</li>
                </ul>
              </li>
            </ul>
            <div class="card-body">
              <a target="_blank" :href="course.url" class="btn btn-secondary btn-block">شاهد الآن</a>
            </div>
          </div>
        </div>
        </div>
        </div>
	</div>
</template>

<script type="text/javascript">
// import CardComponent from '../partials/CardComponent';
	export default{
		// components:[CardComponent],
		data(){
			return {
				courses: [],
			}
		},
		created(){
			this.getCourses();
		},
		methods:{
			getCourses(){
				this.courses = [
				{
                    id: "PL1FWK-sgJ9emGDv2iWMRyeU_DxxDUmFFY",
                    name: "Javascript testing with Jasmine",
                    url: "https://www.youtube.com/watch?v=3OcH0e0qaDA&list=PL1FWK-sgJ9emGDv2iWMRyeU_DxxDUmFFY",
                    description: "",
                    thumbnails: "https://i.ytimg.com/vi/3OcH0e0qaDA/sddefault.jpg",
                    statistics: {
                        viewCount: 136,
                        likeCount: 11,
                        commentCount: 2,
                        duration: "00:13:44",
                        lessons: 1
                    }
                },
                {
                    id: "PL1FWK-sgJ9em3MRMoPF0-vdxwcMDc4Vvu",
                    name: "Codeigniter general model",
                    url: "https://www.youtube.com/watch?v=Bn61tqF6sHI&list=PL1FWK-sgJ9em3MRMoPF0-vdxwcMDc4Vvu",
                    description: "",
                    thumbnails: "https://i.ytimg.com/vi/Bn61tqF6sHI/sddefault.jpg",
                    statistics: {
                        viewCount: 143,
                        likeCount: 10,
                        commentCount: 2,
                        duration: "00:32:02",
                        lessons: 3
                    }
                },
                {
                    id: "PL1FWK-sgJ9enFG__0JAMs0emaWn0lbtZM",
                    name: "PHP + JSON",
                    url: "https://www.youtube.com/watch?v=8f5tROdlfUM&list=PL1FWK-sgJ9enFG__0JAMs0emaWn0lbtZM",
                    description: "",
                    thumbnails: "https://i.ytimg.com/vi/8f5tROdlfUM/sddefault.jpg",
                    statistics: {
                        viewCount: 137,
                        likeCount: 9,
                        commentCount: 0,
                        duration: "00:16:57",
                        lessons: 2
                    }
                },
                ];
			}
		}
	}
</script>