<template>
  <div>
  <h1>Home Page</h1>
  <counter/>
  <info/>
  </div>
</template>

<script>
import counter from './counter';
import info from './info';
export default{
    // data(){
    //     return {
    //         counter : 0
    //     }
    // },
    components:{counter, info},
    methods:{
        
    },
    computed:{
        counter(){
            return this.$store.state.counter;
        }
    }
}
</script>