<template>
<div>
<h2>Info</h2>
  <counterInfo></counterInfo>
</div>
</template>

<script>
import counterInfo from './counterInfo';
export default{
name: 'info',
components:{counterInfo},
methods:{
}
}
</script>