<template>
	<div class="col-lg-4">
          <div class="card">
            <img class="card-img-top" :src="course.thumbnails" :alt="course.name">
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <p class="card-text">{{course.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fab fa-youtube youtube-color"></i>
                إحصائيات اليوتيوب
              </li>
              <li class="list-group-item">
                <ul class="course-statistics">
                  <li><i class="fas fa-bars"></i> {{course.statistics.lessons}} درس</li>
                  <li><i class="far fa-clock"></i> {{course.statistics.duration}}</li>
                  <li><i class="far fa-play-circle"></i> {{course.statistics.viewCount}} مشاهدة</li>
                  <li><i class="far fa-thumbs-up"></i> {{course.statistics.likeCount}} إعجاب</li>
                  <li><i class="far fa-comments"></i> {{course.statistics.commentCount}} تعليق</li>
                </ul>
              </li>
            </ul>
            <div class="card-body">
              <a target="_blank" :href="course.url" class="btn btn-secondary btn-block">شاهد الآن</a>
            </div>
          </div>
        </div>
</template>
<script type="text/javascript">
	export default {
		props:{course:{required:true}}
	}
</script>