<template>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">Vue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link :to="{name: 'home'}" class="nav-link" exact active-class="active">Home
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/about"  active-class="active">About</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/courses"  active-class="active">Courses</router-link>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</template>